body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-420px;
  width:460px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#bg0 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:108px;
  width:460px;
  height:501px;
}


#bg1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:435px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#bg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:460px;
  height:435px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}

#line_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#line {
  border-width:0px;
  position:absolute;
  left:55px;
  top:142px;
  width:350px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}

#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0.847058823529412);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:362px;
  width:350px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}

#u4_input {
 border-width:0px;
 position:absolute;
 left:0px;
 top:0px;
 width:350px;
 height:50px;
 background:inherit;
 background-color:rgba(0, 121, 254, 0.847058823529412);
 border:none;
 border-radius:3px;
 -moz-box-shadow:none;
 -webkit-box-shadow:none;
 box-shadow:none;
 font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
 font-weight:700;
 font-style:normal;
 font-size:16px;
 color:#FFFFFF;
 line-height:20px;
}
#border_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
}
#border {
  border-width:0px;
  position:absolute;
  left:55px;
  top:222px;
  width:350px;
  height:50px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:transparent;
  text-align:right;
}

#account_login_input {
      position:absolute;
     left:0px;
      top:6px;
      width:260px;
      height:40px;
     padding:3px 2px 3px 2px;
      font-family:'微软雅黑';
      font-weight:400;
      font-style:normal;
      font-size:13px;
      text-decoration:none;
      letter-spacing:normal;
      color:#999999;
      vertical-align:none;
      text-align:left;
      text-transform:none;
      background-color:transparent;
      border-color:transparent;
}
#account_login_input.disabled {
  position:absolute;
 left:0px;
  top:0px;
  width:260px;
  height:50px;
 padding:3px 2px 3px 2px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}

#account_login {
  border-width:0px;
  position:absolute;
 left:95px;
  top:216px;
  width:260px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#account_login .text {
  position:absolute;
  align-self:center;
 padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}

#border1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
}
#border1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:292px;
  width:350px;
  height:50px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:transparent;
  text-align:right;
}

#pswd_input {
  position:absolute;
  left:0px;
  top:6px;
  width:270px;
  height:40px;
  padding:3px 2px 3px 2px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}

#pswd {
  border-width:0px;
  position:absolute;
  left:95px;
  top:286px;
  width:270px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}

#login_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0079FE;
}
#login {
  border-width:0px;
  position:absolute;
  left:143px;
  top:142px;
  width:175px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0079FE;
}
#login .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#login_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#bg2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:284px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
  line-height:36px;
}
#bg2 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:140px;
  height:140px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
  line-height:36px;
}

#account_delete_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#account_delete {
  border-width:0px;
  position:absolute;
  left:376px;
  top:238px;
  width:18px;
  height:18px;
  display:flex;
}

#password_delete_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#password_delete {
  border-width:0px;
  position:absolute;
  left:376px;
  top:308px;
  width:18px;
  height:18px;
  display:flex;
}

#account_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#account {
  border-width:0px;
  position:absolute;
  left:65px;
  top:237px;
  width:20px;
  height:20px;
  display:flex;
}

#password_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#password {
  border-width:0px;
  position:absolute;
  left:65px;
  top:307px;
  width:20px;
  height:20px;
  display:flex;
}

#camera_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#camera {
  border-width:0px;
  position:absolute;
  left:202px;
  top:42px;
  width:56px;
  height:56px;
  display:flex;
}

